<Figaro xmlns="http://schemas.bdbxml.net/configuration/6.0/HA">
<!-- see http://help.bdbxml.net/html/N_Figaro_Configuration.htm for more information. -->
<DefaultContainerSettings 
    allowCreate="true" compression="false" containerType="DocumentContainer" 
    threaded="true" transactional="true" statistics="On"/>
<Environments>
    <FigaroEnv name="demoEnv">
    <Cache gigaBytes="2" regions="2"/>
    <DataDirectories>
        <Directory create="true" path="data"/>
    </DataDirectories>
    <Log create="true" directory="log" maxFileSize="204800" logOptions="Direct DSync"/>
    <Encryption enabled="false"/>
    <CacheMax gigaBytes="4"/>
    <!-- http://help.bdbxml.net/html/fefbc8c2-8d5d-4b18-8ec8-85dea5408e54.htm -->
      <Replication priority="100" start="true" 
                   autoInit="true" bulkTransfer="true" inMemory="false" noBlocking="false" 
                   startOption="Master" startThreads="3" strictTwoSite="false" 
                   delayClientSync="false" replicationView="false" twoSitePreferredMaster="false">        
        <Sites>
          <Site address="" bootstrap="false" legacy="false" local="false"/>
        </Sites>
      </Replication>    
    <EnvConfig>
        <ConfigItem enabled="true" setting="DirectDB"/>          
    </EnvConfig>
    <Tracing category="All" level="All" errorPrefix="HadERR"/>
    <Open create="true" home="data" options="TransactionDefaults" />        
    </FigaroEnv>
</Environments>
</Figaro>